@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

#imgs {
    height: 100vh;
}

.heading {
    text-align: center;
    margin-top: 5px;
}

.arrow-div {
    position: sticky;
    top: 80%;
    background-color: #A9A9A9;
    border-radius: 50%;
    height: 45px;
    width: 50px;
    z-index: 1;
    float: right;
}

.arrow {
    position: sticky;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    margin: 15px 15px;
}

.up {
    font-size: 35px;
    top: 50%;
    transform: translate(-50% , -50%);
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

/* PopUp Message notification start */
.notification {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: max-content;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: lightseagreen;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 4s linear forwards;
}

.notification_program {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right, #539bdb, #3250bf);
    border-radius: inherit;
    animation: load 3s 0.25s linear forwards;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes load {
    to {
        transform: scaleX(1);
    }
}

/* PopUp Message notification End */

.card-style1 {
    position: relative;
    /* width: 50%; */
    margin-left: 15%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card-style1:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card-style1:hover .image {
    opacity: 0.3;
}

.card-style1:hover .middle {
    opacity: 1;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 12px;
    padding: 16px 32px;
}

.slider-text {
    color: white;
}

.tex {
    color: white;
}

.btn-del {
    padding: 5px;
    border-radius: 10px;
}

.left img {
    width: 35vw;
}

.About {
    background-color: #6b6b6b;
    height: 45vh;
    color: white;
}

.client-proj {
    margin-top: 25px;
    height: 50vh;
    background-color: #8e8e8e;
    display: flex;
    justify-content: space-evenly;
    z-index: -3;
}

.client-proj img {
    /* display: flex; */
    width: 30%;
    margin-left: 25%;
    margin-top: 30%;
    aspect-ratio: 3/2;
    /* justify-content: center;
    align-items: center; */
}

.client-proj h2 {
    margin-left: 25%;
}

.main {
    transition: 1s;
}

.active {
    transform: translateX(0) !important;
}

.main:nth-of-type(odd) {
    transform: translateX(-1600px);
}

.main:nth-of-type(even) {
    transform: translateX(1600px);
}

.dot li{
    list-style-type: circle;
}

.image-height{
    height: 230px;
    width: 250px !important;
}
